

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: silver;
  font-family: sans-serif;
}

a {
	color: black;
}

.nav__section {
	margin: 0;
	width: 100%;
	height: 100px;
	background: gray;
	display: flex;
	flex-direction: row;
	font-size: 2em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

.nav__item {
	width: 200px;
	height: 100%;
  text-align: center;
  line-height: 100px;
}

.nav__link {
	text-decoration: none;
	color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav__link:hover {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px .15em rgba(0, 0, 0, 0.25);
}

.nav__link--home {
  text-align: left;
  justify-content: left;
  line-height: normal;
}

.nav__link--logo {
  height: 90px;
  margin: 5px;
  align-self: center;
}


.section__intro {
	text-align: center;
	margin-bottom: 30px;
}


.album-list__section {
  max-width: 1000px;
  margin: auto;
  display: flex;
	flex-flow: row wrap;
  justify-content: space-evenly;
}

.album-list__item {
  width: fit-content;
  margin: 10px;
  padding: 5px;
  background: whitesmoke;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
  border-radius: 10px;
}

.album-list__item--img {
	height: 300px;
	width: 300px;
	border-radius: 5px 5px 0px 0px;
}

.album-list__item--title {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.album-list__item--title::before {
	content: '';
	display: block;
	width: 200px;
	height: 1px;
	background-color: black;
	margin: 2px auto 5px;
}


.album-list__item--title::after {
	content: '';
	display: block;
	width: 200px;
	height: 1px;
	background-color: black;
	margin: 2px auto 5px;
}

.album-list__item--details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.form {
	width: 300px;
	margin: 50px auto;
	padding: 20px;
	background: whitesmoke;
	border-radius: 5px;
	box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}

.form > div {
	display: flex;
	justify-content: space-between;
}

.form input, .form select {
	background: floralwhite;
	border: 1px solid black;
	margin: 1px;
}

.btn {
	display: block;
	font-size: 1.5em;
	margin: 10px auto;
}

.btn--delete {
	margin: 10px auto;
	background: red;
}

.link-back {
	display: block;
	text-align: center;
}


.artist-list__section {
  margin: 10px;
  width: calc(100%-20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.artist-list__item {
  width: 400px;
  min-height: 50px;
  margin: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: 2em 1fr 4em;
  align-items: center;
  background: whitesmoke;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}

.artist-list__item--name {
  font-size: 1.5em;
}

.artist-list__item--link {
  color: black;
}


.footer {
	width: 100%;
	bottom: 0;
	position: fixed;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.footer__link-top {
	margin-left: 20px;
	font-size: 1.5em;
}

.footer__copyright {
	margin-right: 20px;
}